{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">

  <h1 class="display-4">About</h1>

  <div class="row">
    <div class="col-lg-12">
      <h2>Why would anyone make this?</h2>
      <p>While there are several "bravery"-type websites in existence for League of Legends and Teamfight Tactics (my other favorite Riot Games), I felt like there was a troubling lack of such a website for Legends of Runeterra.
        With a sizeable amount of downtime due to quarantine, creating Bravery of Runeterra was not only a great opportunity to add another project to my Software Engineering resume, but to create something fun for
        both myself and the Legends of Runeterra community.
        </p>

      <h2>I don't own that many cards!</h2>
      <p>While I realize that needing to own cards may introduce a bar of entry for using Bravery of Runeterra, I hope that players with sizeable card collections can still find joy in taking some randomized decks for a spin.
      That said, I would love to hear your suggestions on how to lower this bar and I am looking at future options such as narrowing card selection to cards owned by the player when such API endpoints are made available.</p>

      <h2>Who would do this?</h2>
      <p>I am a Master of Software Engineering student at the University of California, Irvine currently seeking Summer 2021 internships as well as full-time opportunities in the US (please contact me via the methods below if you have any opportunities!).
        I have been playing Legends of Runeterra since the beta, and I absolutely love what it has done with the digital card game formula.
        It's the first game I've managed to reach Diamond in after all!
        I am also a big fan of Riot's other games League of Legends and Teamfight Tactics, the former which I have been playing since 2013. </p>

      <h2>Questions, Suggestions, etc.</h2>
      <p>Please feel free to contact me using any of the methods below regarding Bravery of Runeterra.
        I am looking forward to hearing your questions, suggestions, feedback, or anything else you want to talk about.
        I'm mostly self-taught in web development so if I've made a mistake or there's a better design decision I could make I would love to know!</p>

      <h2>Contact Me</h2>
      <p>Discord: Tweezil Von Smooth#5844</p>
      <p>Riot Account (NA): TweezilVonSmooth</p>
      <p>Email: <a href="mailto:braveryofruneterra@gmail.com">braveryofruneterra@gmail.com</a></p>
    </div>

  </div>


  <footer class="page-footer font-small">
  <p>Bravery of Runeterra isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties.
    Riot Games, and all associated properties are trademarks or registered trademarks of Riot Games, Inc.</p>
    <p>Bravery of Runeterra is also not associated with Ultimate Bravery or any other "bravery"-type website or application.</p>
  </footer>

</div>

{% endblock %}
