{% extends "layout.html" %}

{% block content %}
<div class="container-fluid" id="about-container">
  <br>
  <div class="row">
    <div class="col-lg-12">
      <h1>About</h1>

      <h2>Why would anyone make this?</h2>
      <p>While there are several "bravery"-type websites for League of Legends and Teamfight Tactics (my other favorite Riot Games), I was disappointed in the lack of variety for Legends of Runeterra.
        I sought a fast way to churn out bad decks for the regions I wanted and was let down by the few options I could find. In the spirit of resolving this (as well as quarantine boredom), I decided to make one myself!</p>
      <br>

      <h2>What if I don't own that many cards?</h2>
      <p>While I realize that needing to own cards may introduce a bar of entry for using Bravery of Runeterra, I hope that players with sizeable card collections can still find joy in taking some randomized decks for a spin.
      That said, I would love to hear your suggestions on lowering this bar! I'm currently looking at filtering decks to player-owned cards when Riot lets developers like me access card collections.</p>

      <br>
      <h2>Who would do this?</h2>
      <p>I'm a Software Engineering Master's student at UC Irvine who loves programming and Legends of Runeterra.
        I started playing LoR during the beta and I am proud to be Diamond rank as of the Monuments of Power expansion.
        I'm currently seeking Summer 2021 internships in the US, so please contact me via the methods below if you have any opportunities!</p>

      <br>
      <h2>Questions, Suggestions, etc.</h2>
      <p>Please feel free to contact me using any of the methods below regarding Bravery of Runeterra.
        I'm looking forward to hearing your questions, suggestions, feedback, or anything else you want to talk about!
        I'm mostly self-taught in web development so if I've made a mistake or there's a better design decision I could make I would love to know.</p>

      <br>
      <h2>Contact Me</h2>
      <p>Discord: Tweezil Von Smooth#5844</p>
      <p>Riot Account (NA): TweezilVonSmooth</p>
      <p>Email: <a href="mailto:braveryofruneterra@gmail.com">braveryofruneterra@gmail.com</a></p>
    </div>

  </div>

  <br>
  <div class="row justify-content-center">
    <h6>Help me pay server fees :)</h6>
  </div>

  <div class="row justify-content-center">
    <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="hosted_button_id" value="HCY4LUELJA5ME" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </div>
  <br>

  <footer class="page-footer font-small">
    <p>Bravery of Runeterra isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties.
    Riot Games, and all associated properties are trademarks or registered trademarks of Riot Games, Inc.</p>
    <p>Bravery of Runeterra is also not associated with Ultimate Bravery or any other "bravery"-type website or application.</p>
  </footer>

</div>

{% endblock %}
