<!doctype html>
<html lang="en">
  <head>
    {% block head %}
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
        <link rel="manifest" href="/static/favicons/manifest.json">
        <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="description" content="Test your bravery by generating a deck of randomized cards for use in Riot Games' collectible card game Legends of Runeterra.">
        <meta name="og:title" property="og:title" content="Bravery of Runeterra">
        <meta name="twitter:card" content="Test your bravery by generating a deck of randomized cards for use in Riot Games' collectible card game Legends of Runeterra.">
        <meta name="twitter:title" content="Bravery of Runeterra">
        <meta name="twitter:description" content="Test your bravery by generating a deck of randomized cards for use in Riot Games' collectible card game Legends of Runeterra.">
        <meta name="twitter:image" content="{{ url_for('static', filename='favicons/ms-icon-310x310.png') }}">
        <link rel="canonical" href="https://braveryofruneterra.com">
    {% endblock %}

    {% block head_css %}
        <!-- Bootstrap CSS import (Slate theme)-->
        <link rel="stylesheet" type ="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/slate/bootstrap.min.css">
        <!-- <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" > -->
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/style.css') }}" >
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/image-picker.css') }}" >
    {% endblock %}


    {% block title %}
        <title>Bravery of Runeterra</title>
    {% endblock %}

  </head>
  <body>

    <!-- Navbar -->

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="{{ url_for('home_page') }}" class="navbar-brand"><img src="{{ url_for('static', filename='favicons/favicon-32x32.png') }}" alt="Logo" style="max-height: 1.5em"> Bravery of Runeterra</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="{{ url_for('about_page') }}" class="nav-link">About</a>
              </li>
            </ul>
        </div>
    </nav>

    <!-- Display Flask flashes as dismissable Bootstrap alerts (category=alert type) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <li class="{{ category }}">{{ message }}</li>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    {% block content %} {% endblock %}


    {% block tail_js %}
        <!-- Bootstrap4 Imports -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- local js import -->
        <script src="{{ url_for('static', filename='js/image-picker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}

  </body>

</html>
